<link rel="import" href="../bower_components/star-rating/star-rating.html">
<dom-module id="kudos-cards">
  <link rel="import" href="../css/kudo-style.html">
  <template>
    <style include="cards"></style>
    <style include="kudos"></style>
    <!-- Bienvenida -->
    <div style="display:table">
      <img id="imgProfile" class="avatar" src="{{userPicture}}">
      <div style="display:table-cell;vertical-align:middle"> ¡Bienvenid@ {{userFirstName}}!</div>
    </div>
    <!-- Lista de Bloques -->
    <template id="arrBlocks" is="dom-repeat" items="{{blocks}}" as="block">
      <paper-card style="width:100%">
        <div>
          <div class="rate-header titleProject" style$="height:40px;background:{{block.color}}" on-click="unCollapse" data-args$="[[block.id]]">&gt; {{block.title}}
          <!--<paper-icon-button icon="icons:arrow-drop-down" style="float:right;"></paper-icon-button></div>-->
        </div>
        <iron-collapse id="clp_[[block.id]]" style="width:100%;">
          <!-- Lista de Tarjetas x Bloque -->
          <template id="arrCards" is="dom-repeat" items="{{_getCards(block)}}" as="card">
            <paper-card class="rate">
              <div class="rate-content">
                <div>
                  <div class="rate-header titleProject" style$="background:{{card.color}}">
                    {{card.title}}
                  </div>
                  <div class="rate-name">
                    <div class="div_middle">
                      <div>Descripción: {{card.description}}</div>
                      <div>KPI: {{card.kpi}}</div>
                      <div><a href="[[card.linkValue]]" target="_blank">[[card.linkLabel]]</a></div>
                    </div>
                    <div class="div_feedback">
                      <paper-button class="rate-icon bot" id="{{card.id}}" data='{{card}}' on-click="openBot" style$="display:[[card.withChat]]">
                        Chatbot<iron-icon icon="communication:live-help" data='{{card}}'></iron-icon>
                      </paper-button>
                      <template is="dom-if" if="{{withFeedback}}">
                        <paper-button class="rate-icon feeback" id="{{card.id}}" data='{{card}}' on-click="openModal">
                          Feedback <iron-icon icon="announcement" data='{{card}}'></iron-icon>
                        </paper-button>
                      </template>
                    </div>
                  </div>
                </div>
                <div class="card-actions kudos-button">
                  <template is="dom-if" if="{{withKudos}}">
                    <template id="tmtKudo" is="dom-repeat" items="{{kudos}}" as="kudo">
                      {{getKudosUser(card.block,card.id,kudo.id)}}
                      <paper-button class$="kudo [[kudo.id]]" toggles  id="id_{{card.id}}_{{kudo.id}}" on-click="_assess">
                        <iron-icon icon="{{kudo.icon}}"></iron-icon> {{kudo.title}}
                      </paper-button>
                      <paper-tooltip for="id_{{card.id}}_{{kudo.id}}" position="top" style="max-width:100px;">{{kudo.title}}<br>{{kudo.description}}</paper-tooltip>
                    </template>
                  </template>
                  <div class="valoracion-star">
                    <star-rating stars="{{numStars}}" id="star_{{card.id}}" on-click="_putStars"></star-rating>
                    {{getRatingCardUser(card.block,card.id)}}
                  </div>
                </div>
              </div>
            </paper-card>
          </template>
        </iron-collapse>
      </paper-card>
    </template>
    <paper-dialog id="feedback" >
      <h2 id="titleFeedback">Quick feedback for:</h2>
      <paper-textarea id="txtFeedback" label="Escribe tu feedback..."></paper-textarea>
      <div class="buttons">
        <paper-button id="btnFeedback" on-click="sendFeedback" autofocus>Enviar</paper-button>
        <paper-button dialog-dismiss>Cancelar</paper-button>
      </div>
    </paper-dialog>
    <paper-toast id="toastAlert" text="Gracias por tu feedback"></paper-toast>
  </template>
  <script>
      Polymer({
        is: 'kudos-cards',
        properties:{
          activeEvent     : {type:String, notify:true},
          user            : {type:Object, notify:true},
          userFirstName   : {type:String, notify:true},
          userEmail       : {type:String, notify:true},
          userName        : {type:String, notify:true},
          userPicture     : {type:String, notify:true},
          error           : {type:Object, value:null, notify:true },
          cards           : {type:Array, notify:true},
          blocks          : {type:Array, notify:true},
          kudos           : {type:Array, notify:true},
          withKudos       : {type:Boolean, value:false, notify:true},
          withFeedback    : {type:Boolean, value:false, notify:true},
          numStars        : {type:Number, notify:true},
        },
        unCollapse: function(e) {
          this.$$('#clp_'+e.target.dataset.args).toggle();
        },
        getKudos:function(){
          var self = this;
          firebase.database().ref(this.activeEvent + '/kudos').once('value').then(function(snapshot) {
            self.kudos = [];
            snapshot.forEach(function(child) {
              var kudo = child.val();
              kudo.id=child.key;
              self.push('kudos', kudo);
            });
            });
        },
        getBlocks:function(){
          var ref = firebase.database().ref(this.activeEvent + "/blocks");
          var self = this;
          ref.once("value").then(function(snapshot) {
            self.blocks = [];
            snapshot.forEach(function(child) {
              var block = child.val();
              block.id  = child.key;
              self.push('blocks', block);
            });
          });
        },
        _getCards:function(block){
          this.cards = [];
          self = this;
          for (var card in block.cards) {
            var newCard = { id:card, title:block.cards[card].title, description:block.cards[card].description,
              leader:block.cards[card].leader, color:block.cards[card].color, withChat:block.cards[card].withChat, 
              linkLabel:block.cards[card].linkLabel, linkValue:block.cards[card].linkValue, kpi:block.cards[card].kpi};
            //parameters
            newCard.objetivo        =block.cards[card].parameters.objetivo;
            newCard.detalles        =block.cards[card].parameters.detalles;
            newCard.metrica         =block.cards[card].parameters.metrica;
            newCard.customer        =block.cards[card].parameters.customer;
            newCard.canal           =block.cards[card].parameters.canal;
            newCard.ambiente        =block.cards[card].parameters.ambiente;
            newCard.ambiente_fecha  =block.cards[card].parameters.ambiente_fecha;
            newCard.tiempo          =block.cards[card].parameters.tiempo;
            newCard.participantes   =block.cards[card].parameters.participantes;
            newCard.diferencias     =block.cards[card].parameters.diferencias;
            newCard.limitaciones    =block.cards[card].parameters.limitaciones;
            newCard.marketing       =block.cards[card].parameters.marketing;
            newCard.block           =block.id;
            self.push('cards', newCard);
          }
          return this.cards;
        },
        openBot:function(e){
          var btnCard = Polymer.dom(e).localTarget;
          this.fire('showChatbot', btnCard);
        },
        openModal:function(e){
          var btnCard = Polymer.dom(e).localTarget;
          var card = btnCard.data;
          var self=this;
          this.$.txtFeedback.value="";
          this.$.btnFeedback.data=card;
          this.$.titleFeedback.innerHTML="Quick feedback for:<br>" + card.title;
          this.$.feedback.open();
          var ref = firebase.database().ref(this.activeEvent + "/users/" + this.userEmail+ "/feedback/"+ card.block +"/" + card.id + "/comment");
          ref.once('value').then(function(snapshot) {
            var msg="";
            if(snapshot.val()!=null){
              msg=snapshot.val().message;
            }
            self.$.txtFeedback.value=msg;
          });
        },
        sendFeedback:function(){
          var db = firebase.database();
          var card=this.$.btnFeedback.data;
          var msg=this.$.txtFeedback.value;
          if(msg.trim().length==0){this.$.feedback.close();return;}
          var ref = db.ref(this.activeEvent + "/users/" + this.userEmail + "/feedback");
          var postData = {
            message: msg
          };
          var updates = {};
          updates["/"+ card.block + "/" + card.id + "/comment"] = postData;
          ref.update(updates);
          this.$.txtFeedback.value="";
          this.$.feedback.close();
          this.$.toastAlert.open();
        },    
        getKudosUser:function(idBlock,idCard,idKudo){
          self=this;
          var ref = firebase.database().ref(this.activeEvent + "/users/" + this.userEmail + "/feedback/"+ idBlock +"/" + idCard + "/kudos/" + idKudo);
          ref.once('value').then(function(snapshot) {
            if(snapshot.val()!=null){
                self.$$('#id_' +idCard +'_' +idKudo).active=snapshot.val();
            }
          });
        },
        getRatingCardUser:function(idBlock,idCard){
          self=this;
          var ref = firebase.database().ref(this.activeEvent + "/users/" + this.userEmail + "/feedback/"+ idBlock + "/" + idCard + "/rating");
          ref.once('value').then(function(snapshot) {
            var numStars=0;
            if(snapshot.val()!=null){
              numStars=snapshot.val();
              self.stars=numStars;
            }
            self.$$('#star_' +idCard).rate=numStars;
          });
        },
        _assess:function(e) {
          var kudoSeleccionado = e.model['__data__'];
          var idKudo = kudoSeleccionado.kudo.id;
          var idCard = kudoSeleccionado.card.id;
          var idBlock = kudoSeleccionado.card.block;
          var idBtnKudo=this.$$('#id_' +idCard +'_' +idKudo);
          var voto = 1;
          if (!idBtnKudo.active){ //botón inactivo
            voto = -1;
          }
          var refControl = firebase.database().ref(this.activeEvent +'/users').child(this.userEmail+"/feedback");
          if(voto > 0) {
            var updates = {};
            updates["/" + idBlock + "/" + idCard + "/kudos/" + idKudo] = true;
            refControl.update(updates);
          } else {
            firebase.database().ref(this.activeEvent +'/users').child(this.userEmail).child("/feedback/"+idBlock).child(idCard).child('kudos').child(idKudo).remove();
          }
        },
        _putStars:function(e) {
          var data = e.model['__data__'];
          var idCard = data.card.id;
          var idBlock = data.card.block;
          var ratingCard = this.$$('#star_' + idCard).rate;
          var ref = firebase.database().ref(this.activeEvent + "/users/" + this.userEmail+"/feedback");
          if (ratingCard>0){
            var updates = {};
            updates["/" + idBlock + "/" + idCard + "/rating"] = ratingCard;
            ref.update(updates);
          }else{
            firebase.database().ref(this.activeEvent +'/users').child(this.userEmail).child("/feedback/"+idBlock).child(idCard).child('rating').remove();
          }
        }
      });
    </script>
</dom-module>
