<dom-module id="kudos-stats">
<link rel="import" href="../css/kudo-style.html">
<template id="tmpkudoStats">
 <style include="cards"></style>
 <style include="stats"></style>
  <div class="card">
    <h3>Resultados del evento</h3>
  </div>
  <paper-tabs selected="{{selected}}">
    <paper-tab>Valoraciones</paper-tab>
    <paper-tab>Agradecimientos</paper-tab>
    <paper-tab>Feedback</paper-tab>
  </paper-tabs>

  <iron-pages selected="{{selected}}">
    <div class="resultFeedback">
      <h3>Ranking general</h3>
      <template is="dom-repeat" items="{{sortedCards}}" as="sortCard">
        <div width="100%" style="text-align:left !important;margin-top:3px;">
          <div id="estrella_{{card.id}}" data=0 style="vertical-alig:middle;display:inline-block; font-weight:bold; width:10%;text-align:right;">
            {{sortCard.totalRating}}
          </div>
          <div style="display:inline-block;width:5%">
            <iron-icon icon="icons:star" style="color:#dada0c;width:20px;height:17px;"></iron-icon>
          </div>
          <div style="vertical-align:middle;display:inline-block;width:80%">{{sortCard.titleBlock}} &gt; {{sortCard.title}}</div>
        </div>
      </template>
    </div>

    <div class="resultFeedback">
      <h3>Ranking por Feedback</h3>
      <span id="numUsers">(Número de usuarios: {{numUsers}})</span>
      <template is="dom-repeat" items="{{users}}" as="user">
        <div>
          <div class="personItem" tabindex$="[[tabIndex]]">
            <iron-image class="avatar" sizing="contain" src="[[user.picture]]"></iron-image>
            <div class="pad">
              <div class="primary">[[user.name]]</div>
              <address>
                <div class="userSection">Feedbacks: [[user.numFeedback]]</div>
                <template is="dom-if" if="{{withKudos}}">
                  <div class="userSection">Kudos: [[user.numKudos]]</div>
                </template>
                <div class="userSection">Stars: [[user.numStars]]</div>
              </address>
            </div>
          </div>
        </div>
      </template>
    </div>

    <div class="resultFeedback">
      <div>
        <paper-button id="btnReload" toggles on-click="reloadFeedback" class="reload">
          <iron-icon icon="icons:autorenew"></iron-icon> Reload  
        </paper-button>
        <h3>Revisa cada proyecto (click)</h3>
      </div>
      <template is="dom-repeat" items="{{cards}}" as="card">
        <div class="heading" on-click="toggleRanking" data="{{card.id}}" style="background:{{card.color}}">
          {{card.titleBlock}} &gt; {{card.title}}
        </div>
        <iron-collapse id="cl_{{card.id}}">
          <div class="content">
            <div id="st_{{card.id}}">
              <div><div class="userSection" style="vertical-align:top;"><b>Valoración</b> </div><div class="userSection2"> {{card.totalRating}} stars / {{card.usersRating}} users = {{card.averageRating}} </div></div>
            </div>
            <template is="dom-if" if="{{withKudos}}">
              <div><span><b>Kudos</b></span></div>
              <template is="dom-repeat" items="{{cards.statKudos}}" as="statKudo">
                <div>{{statKudo}}</div>
              </template>
            </template>
            <div><span><b>Feedback</b></span><div id="fb_{{card.id}}">{{card.comments}}</div></div>
          </div>
        </iron-collapse>
      </template>
    </div>
    
  </iron-pages>
</template>
<script>
 Polymer({
    is: 'kudos-stats',
    properties: {
      activeEvent   : { type: String, notify:true },
      cards         : { type: Array, notify:true },
      users         : { type: Array, notify:true },
      listUsers     : { type: Object, notify:true },
      numUsers      : { type: String, notify:true },
      selected      : { value: 0 },
      display       : { value: "block" },
      sortedCards   : { type: Array, notify:true },
      withKudos       : {type:Boolean, value:false, notify:true},
    },
    getCards:function(){
      var ref = firebase.database().ref(this.activeEvent + "/blocks");
      var self = this;
      self.cards = [];
      ref.on('value',function(snapshot) {
        snapshot.forEach(function(child) {
          var block = child.val();
          for (var idCard in block.cards) {
            var card        = {};
            card            = block.cards[idCard];
            card.id         = idCard;
            card.titleBlock = block.title;
            card.color      = block.color;
            if (block.cards[idCard].statRating == undefined){
              card.totalRating =0;
              card.usersRating =0;
            }else{
              card.totalRating =block.cards[idCard].statRating.total;
              card.usersRating =block.cards[idCard].statRating.users;
              card.averageRating=0;
              if (card.usersRating > 0 ){
                card.averageRating=Number(card.totalRating) / Number(card.usersRating);
              }
            }
            card.statKudos={}
            if(block.cards[idCard].statKudos != undefined){
              //console.info(block.cards[idCard].statKudos);
              //card.statKudos= block.cards[idCard].statKudos;
              for(var stat in block.cards[idCard].statKudos){
                console.info('BLOQUE : ' + block.cards[idCard].statKudos[stat]);
              }
            }
            if(block.cards[idCard].comments == undefined){
              card.comments={};
            }else{
              card.comments=block.cards[idCard].comments;
            }
            self.push('cards', card);
          }
          self.sortedCards = self.cards;
          self.sortedCards.sort(function(a,b) {
            return (a.totalRating > b.totalRating) ? -1 : ((b.totalRating > a.totalRating) ? 1 : 0);} );
          
        });
      });
    },
    getRanking:function() {
      var self=this;
      firebase.database().ref(this.activeEvent +'/users').once('value',function(snapshot) {
        var users = snapshot.val();
        self.set('listUsers',users);
        var numUsers=0;
        self.users=[];
        for (var user in users) {
          var _user={};
          numUsers++;
          _user.name=users[user].profile.name;
          _user.picture=users[user].profile.picture;
          var numKudos=0;
          var numFeedback=0;
          var numStars=0;
          //console.log('user: ' + user);
          for (var block in users[user].feedback) {
            console.info('block: ' + block);
            for(var card in users[user].feedback[block]){
              var vote = users[user].feedback[block][card];
              for (var prop in vote) {
                if (prop == 'comment') {
                  for (var commentProps in users[user].feedback[block][card][prop]) {
                    if (commentProps == 'message') {
                      var message = users[user].feedback[block][card][prop][commentProps];
                      if (message.toString().trim().length>1) {
                        numFeedback++;
                      }
                    }
                  }
                } else if (prop == 'kudos') {
                  var kudos = users[user].feedback[block][card]['kudos'];
                  for (var kudo in kudos){
                    if (kudos[kudo]){ numKudos++; }
                  }
                }else if(prop == 'rating'){
                  //console.log("rating: " + users[user].feedback[block][card]['rating']);
                  var rating =0;
                  if (users[user].feedback[block][card]['rating'] == null){ rating = 0;
                  } else { rating = users[user].feedback[block][card]['rating']; }
                  numStars = numStars + rating;
                }
              }
            }
          }
          _user.numKudos=numKudos;
          _user.numFeedback=numFeedback;
          _user.numStars=numStars;
          self.push('users',_user);
        }
        self.numUsers=numUsers;
        self.users.sort(function(a,b) {
          return (a.numFeedback > b.numFeedback) ? -1 : ((b.numFeedback > a.numFeedback) ? 1 : 0);} );
          
      });

    },
    findObjectByKey:function(array, key, value) {
      for (var i = 0; i < array.length; i++) {
          if (array[i][key] === value) {
              return array[i];
          }
      }
      return null;
    },
    toggleRanking:function(e) {
      var idCard=Polymer.dom(e).localTarget.data;
      this.$$('#cl_' +idCard).toggle();
    },
    reloadFeedback:function(e) {
      this.getCards();
      this.getRanking();
    }
  });
</script>
</dom-module>
